<div class="container mt-4">
  <h1>About ZS Tech Services LTD</h1>
  <p>Currently, ZS Tech relies heavily on third-party retail sites such as Amazon, Kijiji, Instagram, and Facebook Marketplace for advertising their custom desktop builds and retail information. However, the company's owner finds it time-consuming to manage product posts on different platforms. Therefore, developing an e-commerce store that consolidates all the products and builds, currently scattered across various sites, would significantly save time. Additionally, it would provide customers with a comprehensive product catalogue, eliminating the need to call or email ZS Tech and wait for a response.</p>
  <p>The target demographic for this online store includes students, employees, PC gamers, and anyone interested in building a new desktop computer, purchasing specific hardware components, or booking PC troubleshooting services.</p>
</div>
