<div class="container h-100 d-flex justify-content-center align-items-center">
  <div class="text-center">
    <h1>Payment Success!</h1>
    <p>Your payment has been processed successfully.</p>
    <a href="<%= items_path %>" class="btn btn-primary">Back to Items</a>
  </div>
</div>